<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderstory.springboot.mapper.KnowledgeArticleTagMapper">
    
    <select id="selectTagIdsByArticleId" resultType="java.lang.Long">
        SELECT tag_id FROM knowledge_article_tag WHERE article_id = #{articleId}
    </select>
    
    <delete id="deleteByArticleId">
        DELETE FROM knowledge_article_tag WHERE article_id = #{articleId}
    </delete>
    
    <insert id="insertBatch">
        INSERT INTO knowledge_article_tag (article_id, tag_id) VALUES
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{articleId}, #{tagId})
        </foreach>
    </insert>
    
</mapper>
