<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coderstory.springboot.mapper.KnowledgeCategoryMapper">
    
    <select id="selectTree" resultType="cn.coderstory.springboot.entity.KnowledgeCategory">
        SELECT id, parent_id AS parentId, name, sort_order AS sortOrder, deleted, create_time AS createTime
        FROM knowledge_category
        WHERE deleted = 0
        ORDER BY sort_order ASC
    </select>
    
</mapper>
